@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Adamina&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html,
body {
  font-size: 0.65rem;
  font-family: "Adamina", serif;
  max-height: 100vh;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(#555454), to(#121412));
  background: linear-gradient(450deg, #555454, #121412);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  position: relative;
}

body::after {
  content: "© Marvel/Disney Corp.";
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 0.6rem;
  color: #eee;
}

body.show-search-results {
  overflow-y: scroll;
}

.ma-hide {
  display: none !important;
}

.above-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(20vh - 100px);
  z-index: 1000;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}

.above-container #searchBox {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 5vh;
  left: 50%;
  width: 50%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #fafafa;
  background: #555454;
  color: #fafafa;
  padding: 0 1rem;
  font-size: 26px;
  -webkit-user-select: all;
     -moz-user-select: all;
      -ms-user-select: all;
          user-select: all;
}

.above-container #searchBox:focus {
  border: 2px solid #5a0309;
}

.above-container #searchBtn {
  position: absolute;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  top: 5vh;
  left: 76%;
  background: transparent;
  border: none;
  outline: none;
  color: transparent;
  z-index: 100;
}

.above-container i {
  position: absolute;
  -webkit-transform: translate(-100%, -50%) rotateY(180deg);
          transform: translate(-100%, -50%) rotateY(180deg);
  top: 5vh;
  left: 74%;
  color: #fafafa;
  font-size: 2rem;
}

.movie-des-box {
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#a4000b), to(#5a0309));
  background: linear-gradient(450deg, #a4000b, #5a0309);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  max-height: 80vh;
  z-index: 100000;
  padding: 4rem 2rem;
  border: 3px solid #fafafa;
  border-radius: 15px;
  overflow-y: scroll;
}

.movie-des-box.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movie-des-box img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 5px;
}

.movie-des-box h4 {
  font-size: 1.6rem;
  font-family: "Noto Serif JP", serif;
  line-height: 1.6;
  color: #fafafa;
  cursor: default;
  width: 100%;
}

.movie-des-box span {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 2rem;
  right: 0.4rem;
  color: #fafafa;
  font-size: 3.2rem;
  cursor: pointer;
}

.card-container {
  height: 100vh;
  min-width: 300vw;
  max-width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  cursor: -webkit-grab;
  cursor: grab;
}

.card-container.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.card-container.grabbing .card-item img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.card-item {
  position: relative;
  min-width: calc(100vw - 0.333px);
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-item h2 {
  font-weight: bolder;
  color: #fafafa;
  font-size: 3rem;
  text-align: center;
  height: 110px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-item img {
  height: 80%;
  width: auto;
  max-width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  border-radius: 3px;
}

.search-results-box {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  margin-top: 10vh;
  overflow-y: auto;
}

.search-results-box .card-item {
  min-width: unset;
  width: 45%;
  height: auto;
  margin-bottom: 2rem;
}

.search-results-box .card-item h2 {
  font-size: 1.85rem;
  height: 60px;
}

.search-results-box.search-results-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-results-box h5 {
  color: #fafafa;
  font-size: 2.4rem;
  text-align: center;
}

.bottom-container {
  position: fixed;
  bottom: 40px;
  left: 0;
  width: 100%;
}

.bottom-container ul {
  padding: 0 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-container ul li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.8rem;
  cursor: pointer;
}

.bottom-container ul li.current-phase::after {
  content: "";
  display: inline-block;
  width: 60%;
  height: 2px;
  background-color: #fafafa;
  position: absolute;
  bottom: 0px;
}

@media screen and (min-width: 768px) {
  .search-results-box .card-item {
    width: 30%;
  }
  .search-results-box .card-item img {
    width: 100%;
  }
  .movie-des-box {
    width: 40%;
    height: auto;
  }
  .bottom-container {
    bottom: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */